name: C/C++ CI

on:
  push:
    branches: [ main, fps-hybrid ]
  pull_request:
    branches: [ main ]

jobs:
  Ubuntu:
    name: Ubuntu Latest
    runs-on: ubuntu-latest
    steps:
    - name: install dependencies
      run: |
        sudo add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu `lsb_release -sc` main universe restricted multiverse"
        sudo apt-get update -y -qq
        sudo apt-get install libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libegl1-mesa-dev libgles2-mesa-dev libdirectfb-dev
    - uses: actions/checkout@v2
    - name: make
      run: make -j2
    - name: Run headless test
      uses: GabrielBB/xvfb-action@v1.2
      with:
        run: make tests
  Windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          install: rsync git zip mingw-w64-x86_64-SDL2 mingw-w64-x86_64-clang mingw-w64-x86_64-glbinding mingw-w64-x86_64-glew make mingw-w64-x86_64-miniupnpc
      - uses: actions/checkout@v2
      - name: make
        shell: msys2 {0}
        run: |
          make set-version
          make -j2 winapp
      - name: deploy main nightly
        if: startsWith(github.repository_owner, 'avaraline') && endsWith(github.ref, 'main')
        uses: WebFreak001/deploy-nightly@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/avaraline/Avara/releases/28954246/assets{?name,label}
          release_id: 28954246
          asset_path: ./build-main/WinAvara.zip
          asset_name: Avara-Windows-Nightly-$$.zip
          asset_content_type: application/zip
          max_releases: 1
  macOS:
    name: macOS
    runs-on: macOS-latest
    steps:
      - name: install dependencies
        run: |
          wget -q "https://github.com/libsdl-org/SDL/releases/download/release-2.26.2/SDL2-2.26.2.dmg"
          hdiutil attach SDL2-2.26.2.dmg
          sudo cp -R /Volumes/SDL2/SDL2.framework /Library/Frameworks/
      - uses: actions/checkout@v2
      - name: make
        run: make macapp
      - name: deploy main nightly
        if: startsWith(github.repository_owner, 'avaraline') && endsWith(github.ref, 'main')
        uses: WebFreak001/deploy-nightly@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/avaraline/Avara/releases/28954246/assets{?name,label}
          release_id: 28954246
          asset_path: ./build-main/MacAvara.zip
          asset_name: Avara-macOS-Nightly-$$.zip
          asset_content_type: application/zip
          max_releases: 1
